.detail {
    border: 2px solid orange;
    display: inline-block;
   font-weight: bold;
   margin: 20px;
   margin-left:  20px;
   
}

h2{
    margin-left: 10px;
}

span{
    color: rgb(75, 10, 135);
   
}
 
.Receipt{
   margin-right: 20px;
   margin-left: 10px;
    
}

.Receipt2{
    padding: 10px;
    
}

.Receipt3{
    padding: 10px;
    display: block;
}

